canvas {
  --canvar-radius: 2vw;
  border-top-left-radius: var(--canvar-radius);
  border-bottom-left-radius: var(--canvar-radius);
  box-shadow: 0px calc(var(--canvar-radius) * -1) 0 0 #374151;
}

menu ul>li {
  @apply flex rounded-md hover:bg-gray-600;
}

menu ul>li.active {
  @apply bg-gray-600;
}

menu ul>li>button {
  @apply p-1;
}

menu.colapsed {
  @apply -translate-y-10 opacity-60;
}

#sceneExplorer {
  @apply relative flex flex-col h-screen w-[15rem] min-w-[10rem] max-w-xs bg-gray-700 text-white;
}

#sceneExplorer .resize {
  @apply bg-gray-600;
  position: absolute;
  top: 3vh;
  right: -2px;
  width: 2px;
  height: 97vh;
  cursor: ew-resize;
  user-select: none;
}

#sceneExplorer .resize:hover {
  @apply bg-gray-500;
}

#sceneExplorer ul li {
  @apply flex items-center gap-2 px-2 py-1 cursor-pointer rounded-sm select-none hover:bg-gray-600 hover:ring ring-gray-600;
}

#sceneExplorer ul li.selected {
  @apply bg-blue-600 ring ring-blue-600;
}

#sceneExplorer ul li .icon,
#sceneExplorer ul li .displayMode {
  @apply w-4 h-4;
}